*.jar
*.zip
*.swp
*.log

FitNesseRoot/FitNesse/
FitNesseRoot/FrontPage/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/files/test/
FitNesseRoot/files/css/
FitNesseRoot/files/html/
FitNesseRoot/files/images/
FitNesseRoot/files/javascript/
FitNesseRoot/files/templates/
FitNesseRoot/files/testProgress
FitNesseRoot/files/testResults
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
FitNesseRoot/ErrorLogs